@font-face {
    font-family: 'Canter';
    src: url('../fonts/Canter-Bold.woff2') format('woff2'),
        url('../fonts/Canter-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Canter';
    src: url('../fonts/Canter-Light.woff2') format('woff2'),
        url('../fonts/Canter-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

